<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
</head>
<body>
<h1>Registration form</h1>
<form th:action="@{/registration-process}" th:object="${user}" method="POST">
	<div th:if="${message}">
		<p th:text="${message}" style="color: red">Message</p>
	</div>
	<div>
		<label>Username:
			<input th:field="*{username}"/>
		</label>
		<p th:each="error: ${#fields.errors('username')}"
		   th:text="${error}" style="color: red">Validation error</p>
	</div>
	<div>
		<label>Email:
			<input type="email" th:field="*{email}"/>
		</label>
		<p th:each="error : ${#fields.errors('email')}"
		   th:text="${error}" style="color: red">Validation error</p>
	</div>
	<div>
		<label>Password:
			<input type="password" th:field="*{password}"/>
		</label>
		<p th:each="error : ${#fields.errors('password')}"
		   th:text="${error}" style="color: red">Validation error</p>
	</div>
	<div>
		<label>Confirm password:
			<input type="password" th:field="*{matchingPassword}"/>
		</label>
		<p th:if="${#fields.hasErrors('${user}')}" th:errors="${user}"
		   style="color: red">Validation error</p>
	</div>
	<button type="submit">Register</button>
</form>

<a th:href="@{/login}">Log in</a>
</body>
</html>