<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>User | Dashboard</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-grid.css">

    <link rel="stylesheet" href="../../static/css/custom.css">

    <link rel="stylesheet" href="../../static/css/intlTelInput.css">
    <!--===============================================================================================-->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <div class="container flex-row">
        <div class="btn-lg text-light text-capitalize d-md-none" type="button" onclick="openNav()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-menu-app" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M0 1.5A1.5 1.5 0 0 1 1.5 0h2A1.5 1.5 0 0 1 5 1.5v2A1.5 1.5 0 0 1 3.5 5h-2A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-2zM14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z"/>
                <path fill-rule="evenodd"
                      d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </div>

        <a class="navbar-brand" th:href="@{/}">
            <img src="../../static/img/logo.png" alt="Logo" style="width:40px">
            Hizencode
        </a>

        <button class="navbar-toggler collapsed" type="button"
                data-toggle="collapse" data-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse " id="navbarsExample05" style="">
            <ul class="navbar-nav ml-auto main-menu-nav
					 d-flex justify-content-center align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Project<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Courses<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contacts<span class="sr-only">(current)</span></a>
                </li>

                <div class="d-none d-md-block pr-4"></div>

                <div class="d-none d-md-block pr-4 border-left border-light" style="height: 30px"></div>

                <div class="d-sm-block d-md-none border-bottom border-light" style="width: 90%"></div>

                <!-- Shown only to authorized users-->
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/user-dashboard}"
                       th:text="${#authentication.getPrincipal().getEmail()}">Name
                    </a>
                    <div class="dropdown-menu">
                        <form th:action="@{/logout}" method="post">
                            <input class="dropdown-item" type="submit" value="Log out">
                        </form>
                    </div>
                </li>

                <!-- Shown only to visitors -->
                <li sec:authorize="!isAuthenticated()" class="nav-item active ">
                    <a class="nav-link" th:href="@{/login}">Sign in<span class="sr-only">(current)</span></a>
                </li>

                <li sec:authorize="!isAuthenticated()" class="nav-item active">
                    <a class="nav-link" th:href="@{/registration}">Sign up<span class="sr-only">(current)</span></a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="d-flex">

    <!-- Sidebar -->
    <div class="sidebar-wrapper bg-light border-right d-none d-md-block">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">My profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">My courses</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">My certificates</a>
        </div>
    </div>

    <!-- Sidebar for mobile -->
    <div id="sidenav" class="sidenav bg-light border-right d-md-none">
        <a href="#" class="btn-close" onclick="closeNav()">&times;</a>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">My profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">My courses</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">My certificates</a>
        </div>
    </div>

    <!-- Dark Overlay element -->
    <div id="sidenav-overlay" class="sidenav-overlay  d-md-none"></div>

    <!-- Page Content -->
    <div class="container-fluid mt-5">
        <div class="card mb-5">
            <div class="card-body">
                <form th:action="@{/user-dashboard/profile/save}" th:object="${profile}" method="post">
                    <!-- Name, Middle Name, Last Name  -->
                    <div class="form-row">
                        <!--  First name    -->
                        <div class="col-md-4 mb-3">
                            <label for="firstName">First name*</label>
                            <input type="text" class="form-control" id="firstName"
                                   th:field="${profile.firstName}"
                                   th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('firstName') ? 'is-invalid' : 'is-valid') : ''}">
                            <div th:if="${#fields.hasErrors() && !#fields.hasErrors('firstName')}"
                                 th:errors="${profile.firstName}" class="valid-feedback">
                                Looks good!
                            </div>
                            <div th:if="${#fields.hasErrors('firstName')}" th:errors="${profile.firstName}"
                                 class="invalid-feedback">
                                Invalid
                            </div>
                        </div>
                        <!--  Last name    -->
                        <div class="col-md-4 mb-3">
                            <label for="lastName">Last name*</label>
                            <input type="text" class="form-control" id="lastName"
                                   th:field="${profile.lastName}"
                                   th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('lastName') ? 'is-invalid' : 'is-valid') : ''}">
                            <div th:if="${#fields.hasErrors() && !#fields.hasErrors('lastName')}"
                                 th:errors="${profile.lastName}" class="valid-feedback">
                                Looks good!
                            </div>
                            <div th:if="${#fields.hasErrors('lastName')}" th:errors="${profile.lastName}"
                                 class="invalid-feedback">
                                Invalid
                            </div>
                        </div>
                        <!--  Middle name    -->
                        <div class="col-md-4 mb-3">
                            <label for="middleName">Middle name</label>
                            <input type="text" class="form-control" id="middleName"
                                   th:field="${profile.middleName}"
                                   th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('middleName') ? 'is-invalid' : 'is-valid') : ''}">
                            <div th:if="${#fields.hasErrors() && !#fields.hasErrors('middleName')}"
                                 th:errors="${profile.middleName}" class="valid-feedback">
                                Looks good!
                            </div>
                            <div th:if="${#fields.hasErrors('middleName')}" th:errors="${profile.middleName}"
                                 class="invalid-feedback">
                                Invalid
                            </div>
                        </div>
                    </div>
                    <!-- Email, Phone, Birth Date -->
                    <div class="form-row">
                        <!--  Email  -->
                        <div class="col-md-6 mb-3">
                            <label for="email">Email*</label>
                            <input disabled type="email" class="form-control" id="email"
                                   th:value="${#authentication.getPrincipal().getEmail()}">
                        </div>
                        <!--  Phone  -->
                        <div class="col-md-3 mb-3">
                            <label for="phoneInput">Phone*</label>
                            <div class="input-group">
                                <!--   Input for user   -->
                                <input type="tel" class="form-control" autocomplete="off" id="phoneInput"
                                       th:value="${profile.phone}"
                                       th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('phone') ? 'is-invalid' : 'is-valid') : ''}">
                                <label for="phone"></label>
                                <!--   Phone field   -->
                                <input hidden="hidden" id="phone" th:field="${profile.phone}" value="">
                                <!--   Phone indicator   -->
                                <div>
                                    <p id="phoneResult" class="font-weight-light"></p>
                                </div>

                                <div th:if="${#fields.hasErrors() && !#fields.hasErrors('phone')}"
                                     th:errors="${profile.phone}" class="valid-feedback">
                                    Looks good!
                                </div>
                                <div th:if="${#fields.hasErrors('phone')}" th:errors="${profile.phone}"
                                     class="invalid-feedback">
                                    Invalid
                                </div>
                            </div>
                        </div>
                        <!--  Birth date  -->
                        <div class="col-md-3 mb-3">
                            <label for="birthDate">Birthdate*</label>
                            <div class="input-group">
                                <input class="form-control" type="date" id="birthDate"
                                       th:field="${profile.birthDate}"
                                       th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('birthDate') ? 'is-invalid' : 'is-valid') : ''}">
                                <div th:if="${#fields.hasErrors() && !#fields.hasErrors('birthDate')}"
                                     th:errors="${profile.birthDate}" class="valid-feedback">
                                    Looks good!
                                </div>
                                <div th:if="${#fields.hasErrors('birthDate')}" th:errors="${profile.birthDate}"
                                     class="invalid-feedback">
                                    Invalid
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col">
                            <hr>
                        </div>
                    </div>

                    <!-- Country, Region/State, City -->
                    <div class="form-row">
                        <!--  Country    -->
                        <div class="col mb-3">
                            <label for="country">Country*</label>
                            <select class="custom-select" id="country" th:field="${profile.country}">
                                <option value="" th:selected="${profile.getCountry() == null}">Country</option>
                                <option th:each="country : ${countries}"
                                        th:value="${country.getId()}"
                                        th:text="${country.getCountryName()}"
                                        th:selected="${profile.getCountry() != null} ? ${country.getId() == profile.getCountry().getId()}"
                                ></option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <!--  Region/state  -->
                        <div class="col mb-3">
                            <label for="region">Region/state</label>
                            <input type="text" class="form-control" id="region"
                                   th:field="${profile.regionState}"
                                   th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('regionState') ? 'is-invalid' : 'is-valid') : ''}">
                            <div th:if="${#fields.hasErrors() && !#fields.hasErrors('regionState')}"
                                 th:errors="${profile.regionState}" class="valid-feedback">
                                Looks good!
                            </div>
                            <div th:if="${#fields.hasErrors('regionState')}" th:errors="${profile.regionState}"
                                 class="invalid-feedback">
                                Invalid
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <!--  City   -->
                        <div class="col mb-3">
                            <label for="city">City*</label>
                            <input type="text" class="form-control" id="city"
                                   th:field="${profile.city}"
                                   th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('city') ? 'is-invalid' : 'is-valid') : ''}">
                            <div th:if="${#fields.hasErrors() && !#fields.hasErrors('city')}"
                                 th:errors="${profile.city}" class="valid-feedback">
                                Looks good!
                            </div>
                            <div th:if="${#fields.hasErrors('city')}" th:errors="${profile.city}"
                                 class="invalid-feedback">
                                Invalid
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col">
                            <hr>
                        </div>
                    </div>

                    <!-- Speciality, Workplace, Position -->
                    <div class="form-row">
                        <!--  Speciality   -->
                        <div class="col mb-3">
                            <label for="speciality">Speciality*</label>
                            <select class="custom-select" id="speciality" th:field="${profile.speciality}"
                                    th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('speciality') ? 'is-invalid' : 'is-valid') : ''}">
                                <option value="" th:selected="${profile.getSpeciality() == null}">Speciality</option>
                                <option th:each="speciality : ${specialities}"
                                        th:value="${speciality.getId()}"
                                        th:text="${speciality.getName()}"
                                        th:selected="${profile.getSpeciality() != null} ? ${speciality.getId() == profile.getSpeciality().getId()}"
                                ></option>
                            </select>
                            <div th:if="${#fields.hasErrors() && !#fields.hasErrors('speciality')}"
                                 th:errors="${profile.speciality}" class="valid-feedback">
                                Looks good!
                            </div>
                            <div th:if="${#fields.hasErrors('speciality')}" th:errors="${profile.speciality}"
                                 class="invalid-feedback">
                                Invalid
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <!--  Workplace   -->
                        <div class="col mb-3">
                            <label for="workplace">Workplace*</label>
                            <input type="text" class="form-control" id="workplace"
                                   th:field="${profile.workplace}"
                                   th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('workplace') ? 'is-invalid' : 'is-valid') : ''}">
                            <div th:if="${#fields.hasErrors() && !#fields.hasErrors('workplace')}"
                                 th:errors="${profile.workplace}" class="valid-feedback">
                                Looks good!
                            </div>
                            <div th:if="${#fields.hasErrors('workplace')}" th:errors="${profile.workplace}"
                                 class="invalid-feedback">
                                Invalid
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <!--  Position   -->
                        <div class="col mb-3">
                            <label for="position">Position*</label>
                            <input type="text" class="form-control" id="position"
                                   th:field="${profile.position}"
                                   th:classappend="${#fields.hasErrors() ? (#fields.hasErrors('position') ? 'is-invalid' : 'is-valid') : ''}">
                            <div th:if="${#fields.hasErrors() && !#fields.hasErrors('position')}"
                                 th:errors="${profile.position}" class="valid-feedback">
                                Looks good!
                            </div>
                            <div th:if="${#fields.hasErrors('position')}" th:errors="${profile.position}"
                                 class="invalid-feedback">
                                Invalid
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    <!-- Terms and conditions -->
                    <!--                    -->
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script src="../../static/js/intlTelInput.js"></script>

<!-- Menu Toggle Script -->
<script type="text/javascript">

    function openNav() {
        document.getElementById("sidenav").style.visibility = "visible";
        document.getElementById("sidenav").style.width = "250px";

        document.getElementById("sidenav-overlay").style.display = "block";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("sidenav").style.width = "0px";
        document.getElementById("sidenav").style.visibility = "hidden";

        document.getElementById("sidenav-overlay").style.display = "none";
    }

    let phoneInput = document.querySelector("#phoneInput");
    let phoneResult = document.querySelector("#phoneResult");

    let iti = window.intlTelInput(phoneInput, {
        nationalMode: true,
        utilsScript: "../../static/js/utils.js?1590403638580" // just for formatting/placeholders etc
    });

    let handleChange = function () {
        let text;
        if (iti.isValidNumber()) {
            text = "Number: " + iti.getNumber();
            document.getElementById("phone").value = iti.getNumber();
        } else {
            text = "Please enter a valid number";
        }
        let textNode = document.createTextNode(text);
        phoneResult.innerHTML = "";
        phoneResult.appendChild(textNode);
    };

    // listen to "keyup", but also "change" to update when the user selects a country
    phoneInput.addEventListener('change', handleChange);
    phoneInput.addEventListener('keyup', handleChange);
</script>

</body>
</html>